body{
    background-color: rgb(32, 32, 32);
    color: white;

}

#app{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}